<div *ngIf="!gameStarted">

    <div class="" style=" margin-top:400px; margin-bottom:400px">
        <div style="width:100%; display:inline-block">
            <div class="row">

                <div style="text-align:center">
                    <a style="width:fit-content; font-size:5rem" class="btn btn-custom typewriter" (click)="gameStart()">
                        <h1>start game</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="choices" *ngIf="gameStarted && !choiceMade" style="display:inline; text-align: center; width:100%">
    <div class="centerparent" style="margin-top:300px; margin-bottom: 400px">
        <div style=" display:inline-block; left:50%">

            <div class="row">

                <div class="typewriter">
                    <h2 style="width:fit-content">Choose A Friend!</h2>
                </div>

                <div class="col" *ngFor="let name of tomo_choices;">
                    <div class="card" style="max-width:300px">
                        <div class="card-body">
                            <a style="width:fit-content" class="btn" (click)="choose(name)">{{name}}</a>
                            <br>
                            <img class="tomo-intro" src="../../../../assets/pegimages/grow/{{name}}.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div *ngIf="(gameStarted && choiceMade)" class="centerparent" style=" height:115%;">
    <a (click)="interact()" class="btn btn-outline-success">start</a> <a (click)="stop()" class="btn btn-outline-danger">stop</a>
    <div style="position: absolute;" [ngStyle]="{'left.%' : this.movement.tomo_position[0]+tomo_text_position[0] , 'top.%' : this.movement.tomo_position[1]-tomo_text_position[1]}">
        <div class="card tomo_text roll-in">
            <div *ngIf="beginSpeaking">
                <div style="width: 50%">

                    <div class="card-body typerwriter" style="width:fit-content">
                        <h4>{{currentMessage}}</h4>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="centerparent" style="width:100%;">
        <div style=" position: absolute;" class="tomo" [ngStyle]="{'left.%' : this.movement.tomo_position[0] , 'top.%' : this.movement.tomo_position[1]}">
            <img class="tomo roll-in" id="tomo" src="../../../../assets/pegimages/grow/{{tomo_chosen}}.png">
        </div>
    </div>
</div>