<nav class="navbar navbar-dark nav-bar-color">
    <div class="container-fluid" style="padding-top:5px;padding-bottom:5px;">
        <div style="padding-left:5px">
            <a class="logo btn" routerLink="">
            </a>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <il class="btn " style="float:left; margin-left:2rem; background-color: rgb(255,255,255,.3)" routerLink="./game">
                Games
            </il>
        </ul>
    </div>
</nav>

<!-- displays our navigation bar. could be positioned anywhere we choose on the page but is usually called the header component. -->