<div style="height:100%">
    <div style="width:100%">
        <div class="contained" style="z-index:0;"></div>
    </div>
    <div>
        <div class="whiteStrip" style="z-index:1; position:absolute; top:300px; width:100%;"></div>
    </div>
    <div style="z-index:2; position:absolute; top:300px; width:100%">
        <div style="height:95%; text-align:center">
            <div class="row" style=" width:100%">
                <div class="col" style="min-width:0px; max-width:610px">
                </div>

                <div class="col-4" style="text-align:center; min-width:400px;left:50%">
                    <div class="row " style="text-align:center">
                        <h1 style="font-family:Impact; font-size:15rem;text-align:center">404</h1>
                    </div>
                    <div class="row" style="text-align:center; margin-top:-40px; width:100%">
                        <h2 style="font-family:Impact; text-align:center ">page not found</h2>
                    </div>

                    <div class="row centerparent" style="text-align:center;margin-top:20px; width:100%">
                        <button class="btn" (click)="home()" style="width:fit-content; font-family:Impact; color:black; height:fit-content; font-size: 2rem; margin:-5px; text-align:center">
                            Go Home
                        </button>
                    </div>

                </div>
                <div class="col-4 pegimage" style="min-width:200px">

                </div>
            </div>
        </div>
    </div>
</div>