<style>
    .font {
        font-family: Impact;
        font-size: 2rem;
    }
</style>


<div style="display:inline; text-align: center; width:100%">
    <div class="centerparent" style="margin-top:400px; margin-bottom: 400px">
        <div style=" display:inline-block; left:50%">
            <div class="row">

                <div class="font">
                    <img src="../../../assets/pegimages/Screenshot 2023-04-20 191832.png">
                    hello
                </div>

            </div>
        </div>
    </div>
</div>
<!-- home screen with menu buttons for our app -->