<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<style>
    ul,
    li {
        list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 0;
    }
</style>

<body>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted" style="z-index: 10;">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a class="me-4 text-reset">
                    <i class="fab fa-facebook-f"> </i>
                </a>
                <a class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase mb-4" style="font-weight: bolder; color:black; font-size: 16px; font-family:Impact">
                            <i class="fas fa-gem me-3"></i>Pegin Part Massage
                        </h6>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="font-family:Impact">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4" style="font-weight: bolder; color:black; font-size: 16px">
                            Navigation Links
                        </h6>
                        <ul class="float-left" style="list-style-type: none;">
                            <li class="nav-item">
                                <a style="font-weight: 600; font-size: 13px " style="text-decoration: none; color: grey" routerLink="devlog"><i class="fas fa-solid fa-file-lines me-3"></i>App Information</a>
                            </li>
                            <li class="nav-item" style="padding-top:10px">
                                <a style="font-weight: 600;font-size: 13px; padding:10px" style="text-decoration: none; color: grey" routerLink="about"> <i class="fas fa-regular fa-user me-3"></i>About Pegin </a>
                            </li>
                            <li class="nav-item" style="padding-top:10px">
                                <a style="font-weight: 600;font-size: 13px " style="text-decoration: none; color: grey" routerLink="privacy"><i class="fas fa-solid fa-magnifying-glass me-3"></i>Snart Navigation</a>
                            </li>
                            <li class="nav-item" style="padding-top:10px">
                                <a style="font-weight: 600;font-size: 13px  " style="text-decoration: none; color: grey" routerLink="data"><i class="fas fa-solid fa-database me-3"></i>Pegimages</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Links -->
                    <!-- Grid column -->

                    <!-- Grid column -->

                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="font-family:Impact">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4" style="font-weight: bolder; color:black; font-size: 16px">
                            Contact Us
                        </h6>
                        <p style="font-weight: 600; font-size: 13px "><i class="fas fa-home me-3"></i> Pingle Town, US</p>
                        <p style="font-weight: 600;font-size: 13px  ">
                            <i class="fas fa-envelope me-3"></i>
                            partMassage@pingle.net
                        </p>
                        <p style="font-weight: 600;font-size: 13px  "><i class="fas fa-phone me-3"></i> + 01 (234)-567-8910</p>
                        <p style="font-weight: 600;font-size: 13px  "><i class="fas fa-print me-3"></i> + 01 (234)-567-8910</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023 Copyright:
            <a class="text-reset fw-bold">Pingle.net</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>

</html>